::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  min-height: 16px;
  background: #ccc;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: #fefefe;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 467px;
  min-width: 360px;
  background-color: #fefefe;
}
