::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  min-height: 16px;
  background: #ccc;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: #fefefe;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 467px;
  min-width: 360px;
  background-color: #fefefe;
}
.notifications {
  width: 360px;
  max-height: 467px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 60px;
  border: 1px solid #ccc;
}
.nfyTop {
  font-size: 11px;
  line-height: 12px;
  padding: 5px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: #0984e3;
  border: 1px solid #74b9ff;
}
.nfyTop span {
  margin: 0 12px;
  cursor: pointer;
}
.nfyTop span.active {
  font-weight: bold;
}
#nfyReadClose {
  float: right;
  margin-right: 16px;
  cursor: pointer;
  color: #fff;
}
.tag-icon {
  font-size: 18px;
  color: #0984e3;
}
.nfyWrap {
  min-height: calc(92vh + 3px);
  background: #fefefe;
}
.itemBox {
  height: 70px;
  border-bottom: 1px dashed #ccc;
}
.itemBox:hover {
  background-color: #eaeaea;
}
.nicon.nanswer {
  background: url("/media/images/icons.png") no-repeat 0 0;
}
.nicon.ncomment {
  background: url("/media/images/icons.png") no-repeat 0 -16px;
}
.nicon.nvoteup {
  background: url("/media/images/icons.png") no-repeat 0 -32px;
}
.nicon.nvotedown {
  background: url("/media/images/icons.png") no-repeat 0 -48px;
}
.nicon.nbestanswer {
  background: url("/media/images/icons.png") no-repeat 0 -64px;
}
.nicon.nmessage {
  background: url("/media/images/icons.png") no-repeat 0 -80px;
}
.nicon.nwallpost {
  background: url("/media/images/icons.png") no-repeat 0 -96px;
}
.nicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 7px 4px 0 5px;
  vertical-align: top;
}
.nfyItemLine {
  display: inline-block;
  width: 323px;
  font-size: 12px;
  margin-top: 3px;
}
.nfyItemLine,
.watchListSettings {
  color: #555;
}
.nfyWrap,
.nfyItemLine {
  color: #c5c5c5;
}
.nfyWrap,
.nfyItemLine a {
  color: #44a;
}
.nfyWrap,
.nfyItemLine p {
  display: inline-block;
  margin: 0 0 2px 0;
  line-height: 1.2;
}
.nfyItemLine a:focus,
.nfyItemLine a:hover,
.nfyItemLine a:visited {
  color: #44a;
}
.nfyWhat {
  padding-top: 3px;
  color: #555;
}
.nfyWrap .nfyItemLine a {
  font-size: 12px;
  text-decoration: none;
}
.nfyItemLine a:focus,
.nfyItemLine a:hover,
.nfyItemLine a:visited {
  text-decoration: none;
}
.nfyTime {
  display: block !important;
  color: #888;
}
.emptyActivity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 81vh;
  text-align: center;
  font-size: 18px;
}
.followed li,
.removeFromWatchlist,
.addToWatchlist,
.show-tag {
  background-color: #0984e3;
  color: #fff;
}
.progress[value]::-webkit-progress-bar {
  background-color: #eee;
}
.runScan:hover {
  background: rgb(226, 226, 226);
}
.foundTags {
  border: 1px solid #ccc;
}
.foundTags > li {
  border-bottom: 1px solid #ccc;
}
.foundTags li > button {
  background-color: #fefefe;
  color: #000;
}
